<div class="slider-buttons {{ class }}">
  {% render 'dbtfy-arrow-prev', class: 'hidden' %}

  <div class="slider-counter slider-counter--dots hidden">
    <div class="slideshow__control-wrapper"></div>
  </div>

  {% render 'dbtfy-arrow-next', class: 'hidden' %}
</div>
