<cart-quantity-break data-item-count="{{ cart.item_count }}">
  <div class="dbtfy-cart-break left rte" {{ block.shopify_attributes }}>
    <small>
      <span></span>
    </small>
  </div>
</cart-quantity-break>
<script src="{{ 'dbtfy-cart-quantity-break.js' | asset_url }}" defer="defer"></script>
