<a
  href="{{ product.url }}"
  class="dbtfy-upsell-bundle__media global-media-settings background-transparent media"
  style="padding-top: 100%;"
  data-product-id="{{ product.id }}"
>
  {% render 'dbtfy-img', img: product.featured_image %}
</a>
