<div class="dbtfy-cart-saving">
  <h2 class="dbtfy-cart-saving--title">{{ settings.cart_saving }}</h2>
  <p class="dbtfy-cart-saving--value">{{ cart.total_discount | money_with_currency }}</p>
</div>
