{% comment %}
  {% render 'dbtfy-search-bar-minimal',
    ----On click search bar open----
  %}
{% endcomment %}

<dbtfy-search-bar>
  <div class="dbtfy-search-bar">
    <div class="field">
      <input type="text" class="dbtfy-search-bar__button field__input" placeholder="Search">
    </div>
  </div>
</dbtfy-search-bar>
