<div
  class="grid--{{block.settings.column_width}}-col-desktop grid--{{block.settings.column_width}}-col-tablet grid--12-col"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:blocks.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "column_width",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.dbtfy-footer.blocks.general.settings.column_width.label",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "_title"
    },
    {
      "type": "_subtitle"
    },
    {
      "type": "_description"
    },
    {
      "type": "_image"
    },
    {
      "type": "_footer-store-settings"
    },
    {
      "type": "_footer-social-media"
    },
    {
      "type": "_footer-newsletter"
    },
    {
      "type": "_menu"
    },
    {
      "type": "_search_form"
    },
    {
      "type": "_footer-featured-product"
    },
    {
      "type": "_footer-featured-collection"
    },
    {
      "type": "_footer-featured-blog"
    },
    {
      "type": "_footer-featured-article"
    },
    {
      "type": "_footer-brand-information"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.name",
      "blocks": [
        {
          "type": "_title",
          "settings": {
            "title": "Footer Title",
            "size": "h4"
          }
        },
        {
          "type": "_description",
          "settings": {
            "description": "<p>Find what you need quickly with our search tool.</p>",
            "padding___top": "custom",
            "custom_padding_top": 0,
            "padding___bottom": "extra_small"
          }
        }
      ]
    }
  ]
}
{% endschema %}
