<div class="dbtfy-block___social-media">
  {%- render 'social-icons' -%}
</div>

{% schema %}
{
  "name": "t:sections.dbtfy-footer.settings.header__1.content",
  "settings": [],
  "presets": [
    {
      "name": "t:sections.dbtfy-footer.settings.header__1.content"
    }
  ]
}
{% endschema %}
