{% liquid
  assign slider_on = 'slider slider--everywhere'
  if section.settings.slider_on == 'none'
    assign slider_on = ''
  elsif section.settings.slider_on != 'both'
    assign slider_on = 'slider slider--' | append: section.settings.slider_on
  endif

  assign arrow_class = ''
  if section.settings.arrow_position == 'middle'
    assign arrow_class = 'slideshow__controls slideshow__controls--top'
  endif
%}

<div
  class="{{ slider_on }} grid grid--{{ section.settings.column_mobile }}-col grid--{{ section.settings.column_desktop }}-col-desktop"
  id="Slider-{{ section.id }}"
  role="list"
>
  {% content_for 'blocks' %}
</div>
{% if slider_on != '' %}
  {% render 'dbtfy-arrow', class: arrow_class %}
{% endif %}

{% schema %}
{
  "name": "Blocks",
  "tag": null,
  "settings": [],
  "blocks": [
    {
      "type": "_instagram_image"
    }
  ],
  "presets": [
    {
      "name": "Block"
    }
  ]
}
{% endschema %}
