{%- if block.settings.enable_country_selector
  or localization.available_countries.size > 1
  or block.settings.enable_language_selector
  or localization.available_languages.size > 1
-%}
  <div class="localization-wrapper" {{ block.shopify_attributes }}>
    {%- if block.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <localization-form class="small-hide medium-hide">
        {%- form 'localization', id: 'AnnouncementCountryForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden" id="AnnouncementCountryLabel">{{ 'localization.country_label' | t }}</h2>
            {%- render 'country-localization', localPosition: 'AnnouncementCountry' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {% endif %}

    {%- if block.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <localization-form class="small-hide medium-hide">
        {%- form 'localization', id: 'AnnouncementLanguageForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden" id="AnnouncementLanguageLabel">{{ 'localization.language_label' | t }}</h2>
            {%- render 'language-localization', localPosition: 'AnnouncementLanguage' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks.language_currency_selector.name",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__4.content",
      "info": "t:sections.announcement-bar.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    }
  ],
  "presets": [{ "name": "t:blocks.language_currency_selector.name" }]
}
{% endschema %}
