<p
  class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
  {{ block.shopify_attributes }}
>
  {{- block.settings.text -}}
</p>

{% schema %}
{
  "name": "t:general.settings.text",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "t:sections.main-product.blocks.text.settings.text.default",
      "label": "t:general.settings.text"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:general.settings.style.body"
        },
        {
          "value": "subtitle",
          "label": "t:general.settings.style.subtitle"
        },
        {
          "value": "uppercase",
          "label": "t:general.settings.style.uppercase"
        }
      ],
      "default": "body",
      "label": "t:general.settings.style.text_style"
    }
  ],
  "presets": [
    {
      "name": "t:general.settings.text"
    }
  ]
}
{% endschema %}
