{% if request.page_type != 'product' and section.settings.product != blank %}
  {% assign selected_product = section.settings.product %}
{% endif %}

<dbtfy-product-tab-horizontal>
  <div class="dbtfy-product-tabs dbtfy-product-tab--horizontal hidden" data-product="{{ selected_product.id }}"></div>
</dbtfy-product-tab-horizontal>

{% schema %}
{
  "name": "t:sections.main-product.blocks.product_tabs.name",
  "presets": [
    {
      "name": "t:sections.main-product.blocks.product_tabs.name"
    }
  ]
}
{% endschema %}
