<div class="icons" data-width="{{ block.settings.media_width }}px" data-height="{{ block.settings.media_height }}px">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:sections.dbtfy-trust-badges.settings.payment-icons.label",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-trust-badges.settings.payment-icons.info"
    },
    {
      "type": "range",
      "id": "media_width",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 38,
      "label": "t:sections.dbtfy-trust-badges.settings.payment-icons.block.icon_width"
    },
    {
      "type": "range",
      "id": "media_height",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 24,
      "label": "t:sections.dbtfy-trust-badges.settings.payment-icons.block.icon_height"
    }
  ],
  "blocks": [
    {
      "type": "_trust-payment-icon"
    }
  ]
}
{% endschema %}
