{%- render 'widget-blocker',
  enabled: settings.dbtfy_product_tabs,
  section: section,
  name: 'Product tabs',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_product_tabs -%}
  <div class="dbtfy-product-tab">
    <div class="page-width">
      <dbtfy-product-tab-horizontal>
        <div class="dbtfy-product-tabs shown-as-separate dbtfy-product-tab--horizontal hidden">
          <div class="dbtfy-product-tabs--title"></div>
          <div class="dbtfy-product-tabs--description"></div>
          <div class="d-grid"></div>
        </div>
      </dbtfy-product-tab-horizontal>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:blocks.dbtfy-product-tabs.name",
  "presets": [
    {
      "name": "t:blocks.dbtfy-product-tabs.name"
    }
  ]
}
{% endschema %}
